
phonedetection/models/

archive/

hearbeatdetection/face1.mp4

*.mp4

*.avi

phonedetection/images/

smokingDetection/data/*.jpg
smokingDetection/data/*.jpeg
smokingDetection/data/*.png

models/*

smokingDetection/data/me_to_label/
