
phonedetection/models/

archive/

hearbeatdetection/face1.mp4

*.mp4

*.avi

phonedetection/images/

smokingDetection/data/*.jpg
smokingDetection/data/*.jpeg
smokingDetection/data/*.png

models/*

smokingDetection/data/me_to_label/

smokingDetection/notworking/

smokingDetection/detection/custom_model_lite/

smokingDetection/detection/custom_model_lite.zip

smokingDetection/batch_2_smoke/

smokingDetection/batch_2_smoke.zip

smokingDetection/batch_3_smoke/

smokingDetection/batch_3_smoke.zip
