body {
    background-color: #080E24;
    font-family: 'Roboto', sans-serif;
    color: #f1f1f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;   

}

#myele {
    text-align: center;
}

h1 {
    color: #AEB9E1;
    font-size: 50px;
    font-weight: 800;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .card-it {
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
    background-color: #101834;
    border: solid #353A4F 1px;
    flex-wrap: wrap;
    flex: 2;

  }
img {
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
}

.card-img {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.card-title {
    color: #AEB9E1;
    font-size: 1.5rem;
}

.extra-space {
    flex: 2;
}

.microphone {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.microphone-container {
    background-color: #101834;
    border: solid #353A4F 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;

}
.microphone-container:hover {
    box-shadow: 0px 1px 30px 0px #353A4F;
    color: #101834;
    background-color: #fff;

}

.huge {
    font-size: 32px;
}

.success {
    color: #13CB74;
    background-color: #13CB7420;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
    border: solid #13CB74 1px;
}

.danger {
    color: #FF5A65;
    background-color: #FF5A6520;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
    border: solid #FF5A65 1px;
}

.text_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-size {
    font-size: 30px;
    text-align: center;
}
